.container .content .homeList {
	margin-left: 10px;
	margin-top: 20px;
}
.content .homeList li {
	display: block;
	float: left;
	width: 267px;
	margin-right: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	height: 80px;
}
.content .homeList .w2 {
	width: 330px;
}
.homeList li .listTxt {
	display: block;
	text-align: center;
	color: #666666;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 5px;
}
.homeList li .listNum {
	display: block;
	text-align: center;
	color: #C70002;
	font-size: 50px;
	font-family: Verdana, sans-serif;
	line-height: 50px;
	margin-bottom: 10px;
}
.homeList li .listNum2 {
	display: block;
	text-align: center;
	color: #C70002;
	font-size: 30px;
	font-family: Verdana, sans-serif;
	line-height: 50px;
	margin-bottom: 10px;
}
.homeList li .listNum3 {
	display: block;
	text-align: center;
	color: #C70002;
	font-size: 25px;
	font-family: Verdana, sans-serif;
	line-height: 50px;
	margin-bottom: 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
.homeList li a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 80px;
	color: #AAAAAA;
	font-size: 12px;
	line-height: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 8px;
	border: 1px solid #DDDDDD;
	margin-left: 68px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.homeList li a:hover {
	background-color: #CCCCCC;
	color: #FFFFFF;
}
tr .T18.colBlack .picMenu {
	display: block;
	height: 28px;
	border-bottom: 4px solid #CCCCCC;
	margin-bottom: 20px;
}
.T18.colBlack .picMenu li {
	display: block;
	float: left;
	margin-right: 2px;
}
.picMenu li a {
	display: block;
	text-decoration: none;
	color: #999999;
	font-size: 14px;
	line-height: 14px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.picMenu li .active {
	background-color: #CCCCCC;
	color: #000000;
}
.container .content .picList {
	display: block;
	padding-left: 35px;
}
.content .picList li {
	display: block;
	width: 200px;
	height: 240px;
	margin-right: 30px;
	margin-bottom: 40px;
	float: left;
}

.picList li a {
	display: block;
	border: 1px solid #DDDDDD;
	color: #999999;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	border-radius: 15px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.picList li a:hover {
	color: #333333;
	border-color: #666666;
}

.picList li .picLink {
	display: block;
	width: 200px;
	height: 200px;
	text-indent: -9999px;
	border: 1px solid #DDD;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.picList li .picLink2 {
	display: block;
	width: 200px;
	height: 200px;
	text-indent: -9999px;
	border: 1px solid #DDD;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.container .content .picList2 {
	display: block;
	padding-left: 35px;
}
.content .picList2 li {
	display: block;
	width: 100px;
	height: 140px;
	margin-right: 15px;
	margin-bottom: 40px;
	float: left;
}

.picList2 li a {
	display: block;
	border: 1px solid #DDDDDD;
	color: #999999;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	border-radius: 15px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.picList2 li a:hover {
	color: #333333;
	border-color: #666666;
}

.picList2 li .picLink {
	display: block;
	width: 100px;
	height: 100px;
	text-indent: -9999px;
	border: 1px solid #DDD;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.container .content .picList3 {
	display: block;
	padding-left: 35px;
}
.content .picList3 li {
	display: block;
	width: 270px;
	height: 310px;
	margin-right: 15px;
	margin-bottom: 40px;
	float: left;
}

.picList3 li a {
	display: inline-block;
	border: 1px solid #DDDDDD;
	color: #999999;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	border-radius: 15px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.picList3 li a:hover {
	color: #333333;
	border-color: #666666;
}

.picList3 li .picLink {
	display: block;
	width: 270px;
	height: 270px;
	text-indent: -9999px;
	border: 1px solid #DDD;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
